# Kaggle Challenge - Exploring Mental Health

### Load Dataset

In [25]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('../data/train.csv')

# Display the first few rows of the DataFrame
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

## Clean the data

In [26]:
# Remove the 'Name' column
df_cleaned = df.drop(columns=['Name', 'id'])

# Get the depression column and save it as a separate DataFrame
depression = df_cleaned['Depression']

# Remove the depression column from the original DataFrame
df_cleaned = df_cleaned.drop(columns=['Depression'])

# Assign a unique value for each column
for column in df_cleaned.columns:
    df_cleaned[column] = pd.factorize(df_cleaned[column])[0]

df_cleaned.head()

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,0,0,0,0,0,-1,0,-1,-1,0,0,0,0,0,0,0,0
1,1,1,1,0,1,-1,1,-1,-1,1,1,1,1,1,1,1,0
2,1,2,2,1,-1,0,-1,0,0,-1,2,0,2,1,2,2,0
3,1,3,3,0,1,-1,0,-1,-1,2,1,2,3,1,3,2,1
4,0,4,4,0,2,-1,2,-1,-1,2,2,1,3,1,4,3,1